{# Listing Section Block Template #}
<div class="{{ block.css_class }} carbon-block--listing-section carbon-block--listing-section--{{ fields.filter_position|default('left') }}">
    
    {# Filter Sidebar #}
    {% if fields.show_filter and fields.filter_position != 'top' %}
        <aside class="carbon-block--listing-section__filter carbon-block--listing-section__filter--{{ fields.filter_position }}">
            {% include 'components/filter.twig' with { post_type: fields.post_type } %}
        </aside>
    {% endif %}
    
    {# Main Content Area #}
    <div class="carbon-block--listing-section__main">
        
        {# Top Filter Bar #}
        {% if fields.show_filter and fields.filter_position == 'top' %}
            <div class="carbon-block--listing-section__filter carbon-block--listing-section__filter--top">
                {% include 'components/filter.twig' with { post_type: fields.post_type } %}
            </div>
        {% endif %}
        
        {# Listings Grid #}
        <div class="carbon-block--listing-section__grid carbon-block--listing-section__grid--{{ fields.columns|default('3') }}">
            {% set query_args = {
                'post_type': fields.post_type|default('property'),
                'posts_per_page': fields.posts_per_page|default(12),
                'paged': paged|default(1)
            } %}
            
            {% if fields.selected_categories %}
                {% set category_ids = fields.selected_categories|map(cat => cat.id) %}
                {% set query_args = query_args|merge({'category__in': category_ids}) %}
            {% endif %}
            
            {% if fields.selected_tags %}
                {% set tag_ids = fields.selected_tags|map(tag => tag.id) %}
                {% set query_args = query_args|merge({'tag__in': tag_ids}) %}
            {% endif %}
            
            {% set posts = fn('new WP_Query', query_args) %}
            
            {% if posts.have_posts() %}
                {% for post in posts.posts %}
                    <div class="carbon-block--listing-section__card">
                        {% include 'components/card-' ~ fields.post_type ~ '.twig' with { 
                            post: post, 
                            style: fields.card_style|default('default') 
                        } %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="carbon-block--listing-section__no-results">
                    <p>{{ __('No listings found.', 'carbonblocks') }}</p>
                </div>
            {% endif %}
        </div>
        
        {# Pagination #}
        {% if fields.show_pagination and posts.max_num_pages > 1 %}
            <div class="carbon-block--listing-section__pagination">
                {% include 'components/pagination.twig' with { 
                    query: posts,
                    current_page: paged|default(1)
                } %}
            </div>
        {% endif %}
        
    </div>
</div>

{# Inline Styles #}
{% if block.styles %}
<style>
{{ block.styles|raw }}
</style>
{% endif %}

{# Inline Scripts #}
{% if block.scripts %}
<script>
{{ block.scripts|raw }}
</script>
{% endif %}
