{# Hero Block Template #}
<div class="{{ block.css_class }} carbon-block--hero--{{ fields.text_alignment|default('center') }}" 
     style="background-image: url('{{ fields.background_image }}'); min-height: {{ fields.min_height|default('500px') }};">
    
    {# Overlay #}
    <div class="carbon-block--hero__overlay" style="opacity: {{ fields.overlay_opacity|default('0.5') }};"></div>
    
    {# Content Container #}
    <div class="carbon-block--hero__container">
        <div class="carbon-block--hero__content">
            {% if fields.title %}
                <h1 class="carbon-block--hero__title carbon-block--hero__title--{{ fields.title_size|default('5xl') }} carbon-block--hero__title--{{ fields.title_color|default('white') }}">
                    {{ fields.title }}
                </h1>
            {% endif %}
            
            {% if fields.subtitle %}
                <p class="carbon-block--hero__subtitle">
                    {{ fields.subtitle }}
                </p>
            {% endif %}
        </div>
    </div>
</div>

{# Inline Styles #}
{% if block.styles %}
<style>
{{ block.styles|raw }}
</style>
{% endif %}

{# Inline Scripts #}
{% if block.scripts %}
<script>
{{ block.scripts|raw }}
</script>
{% endif %}
